span.swiper-pagination-bullet {
  border-radius: 0;
  cursor: pointer;
  height: 35px;
  opacity: 0.5;
  position: relative;
  width: 117px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
span.swiper-pagination-bullet a {
  display: block;
  height: 100%;
  width: 100%;  
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: none;
}
.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet{
  width: 7.1%;
  max-width: 117px;
}
.hidden-xs.swiper-pagination .swiper-pagination-bullet{
  width: 7.1% !important; 
  max-width: 117px !important;
}
.swiper-pagination-white .swiper-pagination-bullet span.icon-border {
  display: block;
  width: 100%;
  height: 4px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

span.swiper-pagination-bullet.menu-icon-home, /* home */
span.swiper-pagination-bullet.menu-icon-dashboard /* dashboard */ {
  display: none;
}

span.swiper-pagination-bullet img{
	position: relative;
	z-index: 2;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active span.icon-border{
	height: 50px;
	background: rgba(254,199,121,1);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active.menu-icon-wildlife span.icon-border{
  background: rgba(147,199,137,1);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active.menu-icon-climate-change span.icon-border{
  background: rgba(249,193,210, 1);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active.menu-icon-water span.icon-border{
  background: rgba(68,200,245, 1);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active.menu-icon-policy span.icon-border{
  background-color: rgba(187,108,151,1);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active.menu-icon-communication span.icon-border{
  background: rgba(254,190,108, 1);
}
.swiper-pagination-bullet.menu-icon-communications.swiper-pagination-bullet-active span.icon-border{
   background: rgba(168,171,110,1);
}
/* Disabled arrow */
.swiper-button-white.swiper-button-disabled {
    display: none;
}

/* Share this */
.menu-text,
.menu-share-this {
	position: absolute;
	bottom: 10px;
  z-index: 11;
}
.menu-text {
	left: 30px;
}
.menu-text a {
	color: #ffffff;
	font-size: 18px;
  line-height: 14px;
}
.menu-share-this {
	right: 36px;
  margin-bottom: 0;
}
.menu-share-this .icon-share {
  /*background: #ffffff url(../img/icons/icon-share.png) no-repeat center;*/
	background: #ffffff;
	height: 27px;
	width: 27px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-share-this:hover .icon-share{
  color: #FFF;
  background: #000;
}
ul.menu-share-this li ul li a:hover {
  color: #000;
}
ul.menu-share-this li {
	position: relative;
}
ul.menu-share-this li a.icon-share {
  display: block;
}
ul.menu-share-this li ul {
  display: none; 
  position: absolute;
  bottom: 27px;
  padding-bottom: 5px;
  display: block;
}
.share-icon-list{
	opacity:0;
	display:'none';
}
.menu-share-this a {  
  cursor: pointer;
}
ul.menu-share-this li:hover ul {
	display: block;
}
ul.menu-share-this li ul li {
	height: 27px;
	width: 27px;
}
ul.menu-share-this li ul li a {
	font-size: 22px;
	color: #FFF;
	display: block;
	height: 100%;
	width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
ul.menu-share-this li ul li a.icon-wwf {
	background-position: -4px 0;
}
ul.menu-share-this li ul li a.icon-mail {
	background-position: -4px -27px;
}
ul.menu-share-this li ul li a.icon-youtube {
	background-position: -4px -54px;
}
ul.menu-share-this li ul li a.icon-facebook {
	background-position: -4px -81px;
}
ul.menu-share-this li ul li a.icon-download {
  background-image: url(../img/icons/download-button.png);
}

/* Custom pagination */
.swiper-pagination.custom-pagination {
  
}

/*for sm device pagination*/
.sm-pagination{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.sm-pagination swiper-pagination-bullet{
  display: block;
  width: 100%;
}
.sm-pagination span.swiper-pagination-bullet {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
    padding-left: 20px;
    display: block;
    opacity: 1;
    background: transparent;
    float: left;
    height: 50px;
    text-align: left;
    line-height: 30px;

}
.sm-pagination span.swiper-pagination-bullet img{
  margin-right: 10px;
}
.visible-sm.visible-xs.sm-pagination.swiper-pagination.custom-pagination {
    width: 100%;
    margin-top: 70px;
    background: #a6d672;
    padding: 10px 0;
}
.visible-sm.visible-xs.sm-menu-toggle {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 15px;
    z-index: 99;
    color: #ffffff;
    font-size: 18px;
    line-height: 14px;
    text-transform: uppercase;
    width: 30px;
    height: 30px;
}
.hidden-lg.hidden-md.sm-pagination.swiper-pagination.custom-pagination{
  padding-top: 15px;
  top: 70px;
  max-width: 280px;
  right: 32px;
  background: #709448;
  height: 70%;
  overflow: auto;
  max-height: 535px;
}
.hidden-lg.hidden-md.sm-pagination.swiper-pagination.custom-pagination.on {
    
}
.sm-menu-toggle span{
  width: 28px;
  height: 2px;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
}
.sm-menu-toggle span.line2{
  top: 8px;
}
.sm-menu-toggle span.line3{
  top: 16px;
}
.hidden-lg.hidden-md.sm-pagination.swiper-pagination.custom-pagination .swiper-pagination-bullet-active {
    background: #435a29;
}